.container{
    width: 1160px;
    margin: 0 auto;
}

.logo{
    margin: 150px 515px 80px;
    font-size: 45px;
    width: 400px;

}

.box{
    margin: 0 auto;
    width: 600px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border: none solid;
    border-radius: 16px;
    box-shadow: 0px 10px 32px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 10px 32px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 10px 32px 7px rgba(0,0,0,0.6);
}

.txt{
    margin: 10px auto 5px;
    margin-top: 40px;
    font-size: 32px;
    font-weight: 600;
    line-height: 37.5px;


}

.item{
    margin: 0 auto;
    margin-top: 20px;
    width: 504px;
    height: 60px;
    border-radius: 4px;
    border:  1px solid #BBBBBB ;
    padding-left: 10px;
}

.item::placeholder{
    font-size: 15px;
}

.cont{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn{
    margin: 20px auto 10px;
    width: 100px;
    height: 56px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    color: #FFFF;
    background-color: #BBBBBB;
}

.forgot{
    margin: 0px auto 20px;
    width: 160px;
    height: 56px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    color: #FFFF;
    background-color: #BBBBBB;
}