.container{
    width: 100%;
    left: 240px;
}

.form{
    padding: 24px 64px;
}

.search{
    width: 758px;
    height: 56px;
    left: 405px;
    top: 24px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 28px;
    padding: 18px 64px;
    font-family: 'Roboto';
    font-size: 20px;
}

.img{
    position:absolute;
    padding: 18px 28px;
}


.border{
    background-color: #BBBBBB;
    height: 1px;
}

.header{

    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
}


.dashboard{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 20px;
    width: 951px;
    height: 66px;
}

.card{
    width: 951px;
    height: 66px;
    left: 417px;
    top: 629px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 20px;
}


.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}


.table{
    width: 100%;
}