.container{
    margin: 80px;
}

.card{
    width: 1280px;
    height: 427px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 36px;
    margin-bottom: 48px;
}

.full_card{
    display: flex;
}

.card_left{
    padding: 32px;
}

.title_and__rating{
    display: flex;
}

.card_title{
    font-weight: 700;
    font-size: 36px;
    color: #252525;
}

.locatioon{
    display: flex;
    margin-top: -50px;
}

.card_txt{
    width: 410px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #252525;
    margin-top: 0;
    margin-bottom: 16px;
}

.card_calendar{
    width: 182px;
    height: 44px;
    background: #F1F3F4;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    color: #E65C4F;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 83px;
}

.card_calendar2{
    width: 182px;
    height: 44px;
    background: #F1F3F4;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    color: #E65C4F;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 61px;
}


.card_calendar3{
    width: 182px;
    height: 44px;
    background: #F1F3F4;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    color: #E65C4F;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}

.arrow_btn{
    display: flex;
    justify-content: end;
}


.arrow_next{
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-top: -25px;
    margin-right: -100px;
}

.arrow_next2{
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-top: -25px;
    margin-right: -15px;
}

.arrow_next3{
    width: 72px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-top: -90px;
    margin-right: -95px;
}


.btn{
    width: 410px;
    height: 54px;
    border: 2px solid #E65C4F;
    border-radius: 16px;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    color: #E65C4F;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card_calendar_btn{
    display: flex;
    justify-content: space-between;
}